@page
@model CouponTrackerWebsite.Pages.coupon.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>coupon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.coupon.title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.coupon.title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.coupon.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.coupon.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.coupon.hyperlink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.coupon.hyperlink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.coupon.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.coupon.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.coupon.Expiration)
        </dt>
        <dd>
            @if (Model.coupon.Expiration <= DateTime.Now)
            {
                <p>
                    @Html.DisplayFor(model => model.coupon.Expiration) - EXPIRED
                </p>
            }
            @if (Model.coupon.Expiration > DateTime.Now)
            {
                <p>
                    @Html.DisplayFor(model => model.coupon.Expiration)
                </p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.coupon.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
