@page
@model CouponTrackerWebsite.Pages.coupon.DetailsModel

@{
    ViewData["Title"] = "View";
}



<h2 align="center" id="view-header" style="color: black;">
    @Html.DisplayFor(model => model.coupon.title)
</h2>
<div id="expired-head" align="center">
    @if (Model.coupon.Expiration <= DateTime.Now) {
        <hr />
        <p>
            Heads up! This coupon is expired and may no longer work.  
        </p>
    }
</div>
<hr />
<div class="view-text">      
    <dl class="dl-horizontal">
        <dt style="text-align:right">
            Code:
        </dt>
        <dd style="text-align:left">
            @Html.DisplayFor(model => model.coupon.Code)
        </dd>
        <dt style="text-align:right">
            To product's page:
        </dt>
        <dd style="text-align:left">
            @Html.DisplayFor(model => model.coupon.hyperlink)
        </dd>
        <dt>
            Description:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.coupon.Description)
        </dd>
        <dt>
            Category:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.coupon.category)
        </dd>
    </dl>       
</div>
<div class="view-text">
    <dl class="dl-horizontal">
        <dt style="text-align:right">
            Expiration:
        </dt>
        <dd style="text-align:left">
            @if (Model.coupon.Expiration <= DateTime.Now)
            {
                <p id="expired">
                    EXPIRED
                </p>
            }
            @if (Model.coupon.Expiration > DateTime.Now)
            {
                @Html.DisplayFor(ModelItem => Model.coupon.Expiration)    
            }
        </dd>
    </dl>
</div>

<div>
    <a asp-page="./Index">Go Back</a>
</div>



